.flex-item1 {
padding: 12px;
background-color: white);
color: black;
max-width: 300px;
max-height: fit-content;
border-radius: 8px;
box-shadow: 10px 10px 12px gray;
}

.flex-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

#button{
    padding: 15px;
    width: 275px;
    border-radius: 4px;
}