.flex-item1 {
padding: 12px;
background-color:#f8f9fa;
color: black;
max-width: 245px;
max-height: fit-content;
border-radius: 8px;
box-shadow: 04px 04px 04px gray;
}

.flex-container {
display: flex;
flex-direction: row;
gap: 20px;
}

#button{
    padding: 15px;
    width: 220px;
    border-radius: 4px;
    background-color: #0B1F3A;
    color: white;
}

col-3 d-flex justify-content-center{
li{
     list-style-type: none;
}
   
}

ul>li{
    list-style-type: none;
}

.footer-custom{
    background-color: #334B6E;
    color: white;

}

#button1{
    padding: 5px;
    width: fit-content;
    border-radius: 50%;
    background-color: #0B1F3A;
    color: white;
    box-shadow: 4px 4px 12px #334B6E;
}

