.flex-item1 {
padding: 12px;
background-color:#f8f9fa;
color: black;
max-width: 245px;
max-height: fit-content;
border-radius: 8px;
box-shadow: 04px 04px 04px gray;
}

.flex-container {
display: flex;
flex-direction: row;
gap: 20px;
}

#button{
    padding: 15px;
    width: 220px;
    border-radius: 4px;
    background-color: #0B1F3A;
    color: white;
}